
<div id="new-photo-form">
  <h1>Please fill in info</h1>
  <p>**************************</p>

  <form action="/gallery" method="post">
    title:<br>
    <input type="text" name="title" value=""><br>

    author:<br>
    <input type="text" name="author" value=""><br>

    link:<br>
    <input type="text" name="link" value=""><br>

    description:<br>
    <input type="text" name="description" value=""><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
