  <h1>Photo by ID</h1>

  <p>**************************</p>
  <p>Author: {{author}}</p>
  <p>link: {{link}}</p>
  <p>Description: {{description}} </p>
  <p>id: {{id}} </p>

  <form action="/gallery/:id" method="GET">
    <input type="submit" value="view all gallery/:id">
  </form>