
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Photo Gallery</title>
  <link rel="stylesheet"  href="/css/styles.css">
</head>
<body>
  <header id= "header">
    <div id="Arch">
     _ARCHITEKT
    </div>
    <div id="welcome">
      {{> welcome }}
    </div>
  </header>
  <div id="injectedBody">
    {{{ body }}}
  </div>
</body>
</html>

