
<div class = "gallery">
  {{#each photos}}
    <img id="{{id}}" alt="{{link}}" ></img>
    <p class ="author" >{{author}}</p>
    <p class ="description" >{{description}}</p>
</div>

  {{/each}}
  <form action="/gallery/:id" method="GET">
    <input type="submit" value="Find Photo">
  </form>
  <form action="/gallery/new" method="GET">
    <input type="submit" value="Add New Photo">
  </form>
